:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color);
}
.page{
    min-height: 100vh;
    background-color: #f1f5f9;
}
.widget-heading{
    margin-top: 0;
}
@media (max-width:767px) {
    .hide-mobile{
        display: none;
    }
}
/* Start page*/
.page{
    display: flex;
}
/* End page*/
/* Start Sidebar */
.sidebar{
    width:200px;
    background-color: white;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3{
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.sidebar > h3::before{
    content: '';
    background-color: black;
    width: 80px;
    position: absolute;
    height: 2px;
    bottom: -15px;
    transform: translateX(-50%);
    left: 50%;
}
.sidebar > h3::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    bottom: -22px;
    transform: translateX(-50%);
    left: 50%;
    border: 3px solid white;
}
.sidebar ul {
    padding: 0px;
    list-style: none;
}
.sidebar ul li{
    
}
.sidebar ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    border-radius: 6px;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #f6f6f6;
}

.sidebar ul span{
    font-size: 14px;
    margin-left: 10px;

}
@media (max-width:767px) {
    .sidebar{
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3{
        font-size: 13px;
        margin-bottom: 13px;
        font-size: 13px;
        /* margin-bottom: 13px; */
        /* margin-left: -4px; */
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }
    .sidebar > h3::after,
    .sidebar > h3::before{
        display: none;
    }
    .sidebar ul{
        margin-top: 30px;
    }
}
/* End Sidebar */
/* Start head */
.content{
    width: 100%;
    overflow: hidden;
}
.head {
    background-color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head .search {
    position: relative;
}
.head .search::before{
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: bold;
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
    color: var(--grey-color);
    font-size: 14px;
}
.head .search input{
    padding: 10px 10px 10px 30px;
    border-radius: 6px;
    border:1px solid #CCC;
    width: 160px;
    transition: width 0.3s;
}
.head .search input::placeholder{
    transition: 0.3s;
}
.head .search input:focus{
    width: 180px;
}
.head .search input:focus::placeholder{
    opacity:0;
}
.head .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head .icons .notification{
    position: relative;
}
.head .icons .notification::before{
    content: "";
    position: absolute;
    background-color: var(--red-color);
    width: 10px;
    height: 10px;
    right: -5px;
    top: -5px;
    border-radius: 50%;
}
.head .icons{
    flex-basis: 10px;
}
.head .icons img{
    width: 32px;
    height: 32px;
    margin-left: 5px;
}
/* End head */
.content h1{
    position: relative;
    margin: 20px 20px 40px;
}
.content h1::before,
.content h1::after{
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left:0px;
}
.content h1::before{
    width: 140px;
    background-color: white;
}
.content h1::after{
    width: 35px;
    background-color: black;
}
@media (max-width:767px){
    .content h1{
        text-align: center;
    }
    .content h1::before,
    .content h1::after{
        text-align: center;
        transform: translateX(-50%);
        left: 50%;
    }
}
/* End head */
/* Start Dashboard page */
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width:767px){
    .wrapper{
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap:10px;
    }
}
/* Start of the Welcome Box */
.welcome{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.welcome .intro{
    padding: 20px 20px 40px 20px;
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:767px){
    .welcome{
        text-align: center;
        display: block;
    }
    .welcome .intro{
        justify-content: center;
    }
}
@media (max-width:767px){
    .welcome .intro div p{
        margin-bottom: 30px;
    }
}
.welcome .intro img{
    width: 300px;
}
.welcome .body{
    text-align: center;
    border-bottom: 2px solid #eee;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}
.welcome .body>img{
    position: absolute;
    width: 64px;
    transform: translateX(-50%);
    left: 50%;
    top:-58px;
}
.welcome .body div{
    width: 33.33%;
    padding: 10px;
}
.welcome .body div span{
    display: block;
    color: var(--grey-color);
    font-size: 14px;
    margin-top: 10px;
}
@media (max-width:767px){
    .welcome .body{
        flex-direction: column;
        align-items: center;
    }
    .welcome .body div{
        width: 100%;
    }
    .welcome .body div span{
        margin: 0px;
    }
}
.welcome a{
    float: right;
    padding: 5px 10px;
    transition: 0.3s;
}
.welcome a{
    display: block;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--blue-color);
    color: white;
    width: fit-content;
    margin: 10px  ;
}
.welcome a:hover{
    background-color: var(--blue-alt-color);
}
/* End of the Welcome Box */
/* Start of the quick Draft Widget */
.quick-draft{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    
}
.quick-draft h2{
    margin-top: 0px;
    margin-bottom: 10px;
}
.quick-draft p{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: var(--grey-color);
}
.quick-draft form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
}
.quick-draft form>*:not(:last-child){
    background-color: #eee;
    border: none;
    border-radius: 6px;
    padding: 10px;
}
.quick-draft form textarea{
    height: 220px;
    resize: none;
}
.quick-draft form .save{
    font-size: 16px;
    width: fit-content;
    background-color: var(--blue-color);
    color: white;
    padding: 5px 10px;
    border:none;
    border-radius: 6px;
    align-self:flex-end;
    transition: 0.3s;
}
.quick-draft form .save:hover{
    cursor: pointer;
    background-color: var(--blue-alt-color);
}
/* End of the quick Draft Widget */
/* start of Yearly Targets */
.targets{
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}
.targets>p{
    color: var(--grey-color);
    line-height: 1.6;
    font-size: 14px;
    margin-top: -10px;
}
.targets .targets-rows{
}
.targets .targets-rows .row{
    display: flex;
    margin-bottom: 20px;
}
.targets .targets-rows .row .icon-rect{
    width: 80px;
    height: 80px;
    position: relative;
}
.targets .targets-rows .money .icon-rect{
    background-color: rgb(0 117 255 / 20%);
}
.targets .targets-rows .projects .icon-rect{
    background-color:rgb(245 158 11 / 20%);
}
.targets .targets-rows .team .icon-rect{
    background-color:rgb(34 197 94 / 20%);
}
.targets .targets-rows .row .icon-rect i{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top:50%;
}
.targets .targets-rows .money .icon-rect i{
    color: var(--blue-color);
}
.targets .targets-rows .projects .icon-rect i{
    color: var(--orange-color);
}
.targets .targets-rows .team .icon-rect i{
    color: var(--green-color);
}
.targets .targets-rows .row .details{
    flex: 1; /* So the details section can take all of the remainnig space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 0 15px;
}
.targets .targets-rows .row .details>span:first-child{
    display: block;
    color: var(--grey-color);
    font-size: 14px;
}
.targets .targets-rows .row .details>span:nth-child(2){
    font-size: 14px;
    font-weight: bold;
}
.targets .targets-rows .row .details .total-progress{
    width: 100%;
    height: 5px;
    background-color: rgb(0 117 255 / 20%);
    /* overflow: hidden; */
}
.targets .targets-rows .row .details .total-progress .specific-progress{
    height: 5px;
    display: block;
    position: relative;
}
.targets .targets-rows .money .details .total-progress .specific-progress{
    background-color: var(--blue-color);
}
.targets .targets-rows .projects .details .total-progress .specific-progress{
    background-color: var(--orange-color);
}
.targets .targets-rows .team .details .total-progress .specific-progress{
    background-color: var(--green-color);
}
.targets .targets-rows .row .details .total-progress .specific-progress::before{
    position: absolute;
    right: -10px;
    top:-25px;
    color: black;
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
    color: white;
}
.targets .targets-rows .money .details .total-progress .specific-progress::before{
    content: "80%";
    background-color: var(--blue-color);
}
.targets .targets-rows .projects .details .total-progress .specific-progress::before{
    content: "55%";
    background-color: var(--orange-color);
}
.targets .targets-rows .team .details .total-progress .specific-progress::before{
    content: "75%";
    background-color: var(--green-color);
}
.targets .targets-rows .row .details .total-progress .specific-progress::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 5px;
    top: -7px;
    right: -2px;
}
.targets .targets-rows .money .details .total-progress .specific-progress::after{
    border-color: var(--blue-color) transparent transparent transparent;
}
.targets .targets-rows .projects .details .total-progress .specific-progress::after{
    border-color: var(--orange-color) transparent transparent transparent;
}
.targets .targets-rows .team .details .total-progress .specific-progress::after{
    border-color: var(--green-color) transparent transparent transparent;
}
/* End of Yearly Targets */
/* Start of tickets stats */
.tickets{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
.tickets p{
    color: var(--grey-color);
    font-size: 14px;
    line-height: 1.6;
    margin-top: -10px;
}
.tickets .stats{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
}
.tickets .stats .card{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.tickets .stats .card:hover{
    border-color: var(--blue-color);
}
.tickets .stats .card img{
    width: 42px;
}
.tickets .stats .card:hover img{
    animation: rotate 0.5s;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.tickets .stats .card span{
    color: var(--grey-color);
    font-size: 14px;
    margin-top: -10px;
}
/* End of tickets stats */
/* Start of Latest News */
.latest{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
.latest .news-row{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;

}
.latest .news-row:not(:last-child){
    border-bottom: 2px solid #EEE;
}
@media (max-width:767px){
    .latest .news-row{
        flex-direction: column;
        gap: 5px;

    }
}
.latest .news-row img{
    width:120px;
    border-radius: 6px;
}
.latest .news-row .info{
    flex:1;
}
@media (max-width:767px){
    .latest .news-row .info{
        text-align: center;
    }
}
.latest .news-row .info h3{
    margin: 0;
    font-size: 16px;
}
.latest .news-row .info p{
    color: var(--grey-color);
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
@media (max-width:767px){
    .latest .news-row .info p{
        margin: 5px;
    }
}
.latest .news-row .label{
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
}
/* End of Latest News */
/* Start of Tasks */
.tasks{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
.tasks .tasks-row{
    display: flex;
    align-items: center;
}
.tasks .tasks-row:not(:last-child){
    border-bottom: 2px solid #ddd;
}
.tasks .tasks-row .info{
    flex:1
}
.tasks .tasks-row .info h3{
    font-size: 16px;
    margin-bottom: 5px;
}
.tasks .tasks-row .info p{
    display: block;
    color: var(--grey-color);
    font-size: 14px;
    margin-top: 0px;
}
.tasks .done .info h3{
    text-decoration: line-through;
    opacity: 0.3;
}
.tasks .done .info p{
    text-decoration: line-through;
    opacity: 0.5;
}
.tasks .done i{
    opacity: 0.5;
}
.tasks .tasks-row i{
    cursor: pointer;
    transition: 0.3s;
}
.tasks .tasks-row i:hover{
    color: var(--red-color);
}
/* End of Tasks */
/* Start of Search Items */
.search-items{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
.search-items .table{}
.search-items .table .table-row:first-child span{
    color: var(--grey-color);
}
.search-items .table .table-row{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.search-items .table .table-row .keyword{}
.search-items .table .table-row .count{
    background-color: #eee;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 13px;
}
/* End of Search Items */
/* Start of Latest Uploads */
.uploads{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
.uploads .uploads-row{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px 0;
}
.uploads .uploads-row:not(:last-child){
    border-bottom: 2px solid #EEE;
}
.uploads .uploads-row img{
    width: 40px;
}
.uploads .uploads-row .info{
    flex: 1;
}
.uploads .uploads-row .info p{
    margin: 4px 0;
    font-size: 14px;
}
.uploads .uploads-row .info span{
    color: var(--grey-color);
    font-size: 14px;
}
.uploads .uploads-row .size{
    background-color: #eee;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 12px;
}
/* End of Latest Uploads */
/* Start of Current Project Progress */
.project{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
.project h2{
    margin-top: 0;
}
.project ul{
    position: relative;
}
.project ul::before{
    content: "";
    position: absolute;
    height: 93%;/*if it is 100% the line would exceed it's limit in the nobile view */
    width: 2px;
    left:11px;
    background-color: var(--blue-color);
}
.project ul li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.project ul li::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border:2px solid white;
    outline: 2px solid var(--blue-color);
    border-radius: 50%;
    margin-right: 10px;
    z-index: 1;
}
.project ul li.done::before{
    background-color: var(--blue-color);
}
.project ul:hover li.current::before{
    background-color: var(--blue-color);
    animation: fade 1.5s ease-in-out infinite;
}
@keyframes fade {
    0% {
        background-color: white;
    }
    50% {
        background-color: var(--blue-color);
    }
    100% {
        background-color: white;
    }
}
/* End of Current Project Progress */
/* Start of Reminders */
.reminders{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reminders h2{
    margin: 0;
}
.reminders .reminders-line{
    display: flex;
    align-items: center;
}
.reminders .reminders-line span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.reminders .reminders-line.blue span{
    background-color: var(--blue-color);
}
.reminders .reminders-line.green span{
    background-color: var(--green-color);
}
.reminders .reminders-line.orange span{
    background-color: var(--orange-color);
}
.reminders .reminders-line.red span{
    background-color: var(--red-color);
}
.reminders .reminders-line .info{
    padding-left: 10px;
}
.reminders .reminders-line.blue .info{
    border-left: 2px solid var(--blue-color);

}
.reminders .reminders-line.green .info{
    border-left: 2px solid var(--green-color);
}
.reminders .reminders-line.orange .info{
    border-left: 2px solid var(--orange-color);
}
.reminders .reminders-line.red .info{
    border-left: 2px solid var(--red-color);
}
.reminders .reminders-line .info h3{
    font-size: 16px;
    margin: 0;
}
.reminders .reminders-line .info p{
    margin:5px 0 0 0;
    font-size: 14px;
    color: var(--grey-color);
}
/* End of Reminders */
/* Start of Latest Post*/
.post{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.post .information{
    display: flex;
    align-items: center;
    gap: 15px;
}
.post .information img{
    width: 48px;
}
.post .information .details{
}
.post .information .details h3{
    font-size: 16px;
    margin: 0 0 5px 0;
}
.post .information .details span{
    display: block;
    color: var(--grey-color);
}
.post .text{
    flex: 1;
    line-height: 1.8;
    padding: 20px 0px;
    margin: 20px 0px;
    border-top:2px solid #EEE;
    border-bottom:2px solid #EEE;
    min-height: 140px;
}
.post .reactions{
    color: var(--grey-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End of Latest Post*/
/* Start of Social Media Stats */
.social-media{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
.social-media .social-row{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    padding-right: 10px;
}
@media (max-width:767px){
    .social-media .social-row{
        gap: 5px;
    }
}
.social-row.twitter,
.social-row.facebook,
.social-row.linkedin{
    background-color: #d0edfd;
}
.social-row.youtube{
    background-color: #fecccd;
}
.social-media .social-row i{
    left: 0;
    top: 0;
    color: white;
    padding: 10px;
    transition: 0.3s;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media .social-row:hover i{
    transform: rotate(5deg);
}
.social-media .social-row.twitter span{
    color: #1da1f2;
}
.social-media .social-row.facebook span{
    color: #1877f2;
}
.social-media .social-row.linkedin span{
    color: #1da1f2;
}
.social-media .social-row.youtube span{
    color: #ff0000;
}
.social-media .social-row span{
    flex: 1;
}
.social-media .social-row a{
    color: white;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 5px;
}
.social-media .social-row.twitter i,
.social-media .social-row.twitter a{
    background-color: #1da1f2;
}
.social-media .social-row.facebook i,
.social-media .social-row.facebook a{
    background-color: #1877f2;
}
.social-media .social-row.linkedin i,
.social-media .social-row.linkedin a{
    background-color: #0077b5;
}
.social-media .social-row.youtube i,
.social-media .social-row.youtube a{
    background-color: #ff0000;
}
/* End of Social Media Stats */
/* Start of Projects table */
.projects-table{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    margin: 20px;
}
.projects-table .responsive-table{
    overflow-x: auto;
}
.projects-table .responsive-table table{
    min-width: 1000px;
    width: 100%;
}
.projects-table .responsive-table table thead th{
    background-color: #EEE;
}
.projects-table .responsive-table tbody td,th,table{
    border: 2px solid #eee;
    border-collapse: collapse;
    padding: 15px;
}
.projects-table .responsive-table tbody td img{
    width: 32px;
    border-radius: 50%;
}
.projects-table .responsive-table tbody td img:not(:first-child){
    margin-left: -15px;
}
.projects-table .responsive-table tbody td .label{
    padding: 3px 7px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
/* End of Projects table */
/* End Dasboard Page*/
/* Start Toggle component */
.toggle-checkbox{
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.toggle-switch{
    background-color: #CCC;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.toggle-switch::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: bold;
    position: absolute;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 4px;
    left:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch{
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before{
    content: "\f00c";
    left: calc(100% - 28px);/* width of the circle is 24px + 4px space = 28px */
    color: var(--blue-color);
}
/* End Toggle component */
/* Start Settings Page */
.settings-page{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap:20px;
}
@media (max-width:767px) {
    .settings-page{
        grid-template-columns: minmax(100px,1fr);
        margin: 10px;
        gap:10px;
    }
}
.settings-box{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.settings-box h2{
    margin-bottom: 10px;
}
.settings-box>p{
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--grey-color);
    font-size: 15px;
}
.settings-box .control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.settings-box .control p span{
    display: block;
    font-size: 14px;
    color: var(--grey-color);
}
.settings-box textarea{
    border: 1px solid #CCC;
    width: 100%;
    height: 140px;
    border-radius: 6px;
    padding: 10px;
    color: var(--grey-color);
    resize: none;
}
/* End Settings Page */
/* Start general info box */
.general-info{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.general-info h2{
    margin-bottom: 0px;
}
.general-info>*:not(:first-child){
    color: var(--grey-color);
    display: block;
    font-size: 14px;
}
.general-info p{
    margin-top: 5px;
}
.general-info label{
    margin-bottom: 5px;
}
.general-info input{
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
    border:1px solid #CCC;
    transition: 0.3s;
    border-radius: 5px;
}
.general-info input:not(.email-div input):focus{
    border-color: var(--blue-color);
}
.general-info .email-div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.general-info .email-div input{
    background-color: #f0f4f8;
    cursor: not-allowed;
}
.general-info .email-div a{
    margin-left: 10px;
    margin-bottom: 15px;
    color: var(--blue-color);
}
/* End general info box */
/* Start of Security Info */
.security-info{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.security-info>p{
    color: var(--grey-color);
    margin-top: -10px;
}
.security-info div span{
    display: block;
    color: var(--grey-color);
    font-size: 13px;
}
.security-info>*{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:767px){
    .security-info>*:not(:first-child):not(:nth-child(2)){
        flex-direction: column;
        text-align: center;
    }
}
.security-info .password,
.security-info .two-factor{
    border-bottom: 1px solid #EEE;
}
@media (max-width:767px){
    .security-info .password,
    .security-info .two-factor{
    padding-bottom: 15px;
}
}
.security-info .password a{
    color: white;
    background-color: var(--blue-color);
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.3s;
}
.security-info .password a:hover{
    background-color: var(--blue-alt-color);
}
.security-info .devices a{
    color: black;
    background-color: #EEE;
    padding: 5px 10px;
    border-radius: 6px;
}
/* End of Security Info */
/* Start of Social Info */
.social-info{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.social-info p{
    margin-top: -10px;
    color: var(--grey-color);
}
.social-info .box{
    display: flex;
    margin-bottom: 15px;
    height: 40px;
    display: flex;
}
.social-info .box i{
    width: 40px;
    background-color: #f6f6f6;
    border:1px solid #CCC;
    border-right: none;
    border-radius: 6px 0 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-color);
    transition: 0.3s;
}
.social-info .box input{
    flex:1;
    border:1px solid #CCC;
    border-radius: 0 6px 6px 0;
    background-color: #f6f6f6;
    padding: 10px;
}
.social-info .box:focus-within i{
    color: black;
}
/* End of Social Info */
/* Start Widget control */
.widget-control{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.widget-control p{
    margin-top: -10px;
    color: var(--grey-color);
}
.widget-control .control{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.widget-control .control input[type="checkbox"]{
    appearance: none;
}
.widget-control .control label{
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widget-control .control label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border:2px solid var(--grey-color);
    border-radius: 4px;
    margin-top: -9px;
}
.widget-control .control label:hover::before{
    border-color: var(--blue-color);
}
.widget-control .control label::after{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
    border-radius: 4px;
}
.widget-control .control input[type="checkbox"]:checked + label::after{
    transform: scale(1);
}
/* End Widget control */
/* Start repeat time in the backup manager widget */
.backup-manager{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.backup-manager p{
    margin-top: -10px;
    color: var(--grey-color);
}
.backup-manager .repeat-time{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
}
@media (max-width:767px){
    .backup-manager .repeat-time{
        flex-direction: column;
        gap: 20px;
    }
}
.backup-manager .repeat-time .option{
  background: #fff;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.backup-manager .repeat-time .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.backup-manager .repeat-time .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.backup-manager input[type="radio"]{
  display: none;
}
.backup-manager #option-1:checked:checked ~ .option-1,
.backup-manager #option-2:checked:checked ~ .option-2,
.backup-manager #option-3:checked:checked ~ .option-3{
  border-color: var(--blue-color);
  background: var(--blue-color);
}
.backup-manager #option-1:checked:checked ~ .option-1 .dot,
.backup-manager #option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
.backup-manager #option-1:checked:checked ~ .option-1 .dot::before,
.backup-manager #option-2:checked:checked ~ .option-2 .dot::before,
.backup-manager #option-3:checked:checked ~ .option-3 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.backup-manager .repeat-time .option span{
  font-size: 16px;
  color: #808080;
  margin-left: 10px;
}
.backup-manager #option-1:checked:checked ~ .option-1 span,
.backup-manager #option-2:checked:checked ~ .option-2 span,
.backup-manager #option-3:checked:checked ~ .option-3 span{
  color: #fff;
}
/* End repeat time in the backup manager widget */
/* Start servers choose in the backup manager widget */
.backup-manager .servers{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0px;
}
@media (max-width:767px) {
    .backup-manager .servers{
        flex-direction: column;
    }
}
.backup-manager .servers .server{
    border: 1px solid #CCC;
    border-radius: 6px;
    width: 100%;
    transition: 0.3s;
}
.backup-manager .servers .server label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    cursor: pointer;
}
.backup-manager .servers .server label i{
    margin-bottom: 10px;
}
.backup-manager .servers input:checked + .server{
    border-color: var(--blue-color);
    color: var(--blue-color);
}

/* End servers choose in the backup manager widget */
/* End of the settings page */

/* Start of profile page */
/* Start of profile widget */
.profile-widget{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
@media (max-width:767px) {
    .profile-widget{
        flex-direction: column;
        margin: 10px;
    }
}
.profile-widget .overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.profile-widget .overview h3{
    text-align: center;
    margin: 0px;
    line-height: 1;
}
.profile-widget .overview img{
    width: 120px;
}

.profile-widget .overview .level{
    display: block;
    color: var(--grey-color);
    /* margin-top: -10px; */
}
.profile-widget .overview .progress{
    width: 80%;
    height: 8px;
    background-color: #EEE;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.profile-widget .overview .progress::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: var(--blue-color);
    left: 0;
}
.profile-widget .overview i{
    color: var(--orange-color);
    font-size: 14px;
}
.profile-widget .overview .ratings{
    font-size: 14px;
    color: var(--grey-color);
}
.profile-widget .information h3{
    font-size: 16px;
    color: var(--grey-color);
    padding-left: 20px;
}
@media (max-width:767px){
    .profile-widget .information h3{
        text-align: center;
        padding: 0px;
    }
}
.profile-widget .information .information-row{
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
    padding: 0 0 20px 20px;
    font-size: 14px;
}
@media (max-width:767px){
    .profile-widget .information .information-row{
        padding: 10px;
    }
}
.profile-widget .information .information-row:not(:last-child){
    border-bottom: 1px solid #EEE;
}
.profile-widget .information .information-row .inf-block{
    display: flex;
    min-width: 250px;
}
@media (max-width:767px){
    .profile-widget .information .information-row .inf-block{
        align-items: center;
        justify-content: center;
    }
}
.profile-widget .information .information-row .inf-block .side-heading{
    color: var(--grey-color);
    margin-right: 6px;
}
.profile-widget .toggle-switch{
    background-color: #CCC;
    width: 78px;
    height: 16px;
    border-radius: 16px;
}
.profile-widget .toggle-switch::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-size: 10px;
    width: 12px;
    height: 12px;
    top: 2px;
    left:4px;

}
.profile-widget .toggle-checkbox:checked + .toggle-switch::before{
    content: "\f00c";
    left: calc(100% - 16px);/* width of the circle is 24px + 4px space = 28px */
}
/* End of profile widget */
.skills-and-activities{
    display: flex;
    gap: 20px;
    margin: 20px;
}
@media (max-width:767px){
    .skills-and-activities{
        flex-direction: column;
    }
}
.skills-and-activities>*{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.skills-and-activities>*>p{
    color: var(--grey-color);
    margin-top: -15px;
}
/* Start of skills widget*/
.skills{
    flex-basis: 25%;
}
.skills-and-activities .skills .skills-row{
    padding: 12px 0px;
}
.skills-and-activities .skills .skills-row:not(:last-child){
    border-bottom: 1px solid #EEE;
}
.skills-and-activities .skills span{
    font-size: 14px;
    background-color: #EEE;
    padding: 5px 10px;
    border-radius: 6px;
}
/* End of skills widget*/
/* Start of  Activities*/
.activities{
    flex-basis: 75%;
}
.activities .activity-row{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 0px;
}
@media (max-width:767px){
    .activities .activity-row{
        flex-direction: column;
    }
}
.activities .activity-row:not(:last-child){
    border-bottom: 1px solid #EEE;
}
.activities .activity-row img{
    width: 60px;
    height: 60px;
}
.activities .activity-row .info{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
@media (max-width:767px){
    .activities .activity-row .info{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}
.activities .activity-row p{
    margin: 0;
}
.activities .activity-row span{
    color: var(--grey-color);
}
/* End of  Activities*/

/* Start of Projects page */
.projects-page{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 20px;
}
@media (max-width: 767px){
    .projects-page{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        margin: 10px;

    }
}
.projects-page .project-box{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.projects-page .project-box>p{
    margin: 0;
    margin-bottom: 10px;
}
.projects-page .project-box>span{
    color: var(--grey-color);
    font-size: 14px;
    line-height: 1.2;
    display: block;
}
.projects-page .project-box .avatars{
    display: flex;
    padding: 30px 0 15px;
}
.projects-page .project-box .avatars img{
    width: 40px;
    border-radius: 50%;
    border:1px solid white
}
.projects-page .project-box .avatars img:not(:first-child){
    margin-left: -8px;
}
.projects-page .project-box .key-words{
    padding: 12px 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;

}
.projects-page .project-box .key-words>*{
    background-color: #EEE;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 6px;

}
@media (max-width:767px){
    .projects-page .project-box .key-words>*{
        display: block;
        width: fit-content;
    }
    .projects-page .project-box .key-words>*:not(:last-child){
        margin-bottom: 10px;
    }
}
.projects-page .project-box .cost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
@media (max-width:767px){
    .projects-page .project-box .cost{
        flex-direction: column;
        gap: 10px;
    }
}
.projects-page .project-box .cost .progress{
    width: 250px;
    height: 10px;
    background-color: #EEE;
    border-radius: 5px;
    position: relative;
}
.projects-page .project-box .cost .progress span{
    position: absolute;
    height: 100%;
    border-radius: 5px;
}
.projects-page .project-box .cost .progress span.red{
    background-color: var(--red-color);
}
.projects-page .project-box .cost .progress span.green{
    background-color: var(--green-color);

}
.projects-page .project-box .cost .progress span.blue{
    background-color: var(--blue-color);

}
.projects-page .project-box .cost .money{
    color: var(--grey-color);
    font-size: 14px;
}
.projects-page .project-box .cost .money::before{
    font-family: "Font Awesome 6 Free";
    content: "\24";
    font-weight: bold;
    margin-right: 3px;
}
.projects-page .project-box .date{
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 12px;
    color: var(--grey-color);
}
/* End of Projects page */
/* Start of courses page*/
.courses-page{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin: 20px;
}
@media (max-width:767px) {
    .courses-page{
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}
.courses-page .course-box{
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.courses-page .course-box img{
    width: 100%;
    aspect-ratio: 4/3;
}
.courses-page .course-box .avatar{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    left: 10px;
    top: 10px;
}
.courses-page .course-box .details{
    padding: 0px 20px 20px 20px;

}
.courses-page .course-box .details h3{
    font-size: 16px;
    margin: 8px 0px;
}
.courses-page .course-box .details p{
    font-size: 14px;
    color: var(--grey-color);
    margin: 0;
    height: 90px;
}
@media (max-width:767px) {
    .courses-page .course-box .details p{
        height: max-content;
        padding-bottom: 20px;
    }
}
.courses-page .course-box .details .divider{
    width: 100%;
    height: 1px;
    background-color: #EEE;
    position: relative;
}
.courses-page .course-box .details .divider::before{
    content: "Course Info";
    background-color: var(--blue-color);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 13px;
}
.courses-page .course-box .details .info{
    padding-top: 15px;
    color: var(--grey-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses-page .course-box .details .info .attendance::before{
    content: "\f007";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    margin-right: 5px;
}
.courses-page .course-box .details .info .cost::before{
    content: "\24";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    margin-right: 3px;
}
/* End of courses page*/
/* Start of Freinds Page */
.friends-page{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin: 20px;
}
@media (max-width:767px) {
    .friends-page{
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        gap:10px;
    }
}
.friends-page .box{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.friends-page .box .definition{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #EEE;
    position: relative;
}
.friends-page .box .definition img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.friends-page .box .definition p{
    margin: 10px 0 0 0;
}
.friends-page .box .definition span{
    color: var(--grey-color);
    font-size: 14px;
}
.friends-page .box .definition .icons{
    position: absolute;
    top: 10px;
    left:10px;
    color:var(--grey-color);
    display: flex;
    gap:10px;
}
@media (max-width:767px){
    .friends-page .box .definition .icons{
        flex-direction: column;
    }
}
.friends-page .box .definition .icons i{
    background-color: #EEE;
    padding: 8px;
    border-radius: 50%;
    font-size: 13px;
    transition: 0.3s;
    cursor: pointer;
}
.friends-page .box .definition .icons i:hover{
    background-color: var(--blue-color);
    color: white;
}
.friends-page .box .details{
    padding: 10px;
    border-bottom: 1px solid #EEE;
}
.friends-page .box .details p{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;

}
.friends-page .box .details p i{
    font-size: 13px;
}
.friends-page .box .tail{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width:767px){
    .friends-page .box .tail{
        flex-direction: column;
        align-items: center;
    }
}
.friends-page .box .tail .date{
    font-size: 14px;
    color: var(--grey-color);
    flex: 1;
}

.friends-page .box .tail .profile,
.friends-page .box .tail .remove{
    color: white;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}
.friends-page .box .tail .profile{
    background-color: var(--blue-color);
}
.friends-page .box .tail .remove{
    background-color: var(--red-color);
}
.friends-page .box .tail{}
/* End of Freinds Page */
/* Start files page */
.files-page{
    margin: 20px;
    display: flex;
    gap: 20px;
}
@media (max-width:767px){
    .files-page{
        flex-direction: column-reverse;
    }
}
.files-page .file-names{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
    flex: 1;
}
.files-page .file-names .box{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    font-size: 14px;
    text-align: center;
}
.files-page .file-names .box img{
    margin-top: 10px;
}
.files-page .file-names .box:hover img{
    animation: rotate 0.5s;
}
.files-page .file-names .box p{
    margin: 10px 0;
}
.files-page .file-names .box>span{
    display: block;
    text-align: start;
    color: var(--grey-color);
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
}
.files-page .file-names .box .details{
    font-size: 12px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--grey-color);
}
.files-page .file-stats{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    min-width: 260px;
}
.files-page .file-stats .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #EEE;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 15px;
}
.files-page .file-stats .card i{
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.files-page .file-stats .card:nth-child(2) i{
    background-color: rgb(0 117 255 / 20%);
    color: var(--blue-color);
}
.files-page .file-stats .card:nth-child(3) i{
    background-color: rgb(34 197 94 / 20%);
    color: var(--green-color);
}
.files-page .file-stats .card:nth-child(4) i{
    background-color: rgb(244 67 54 / 20%);
    color: var(--red-color);
}
.files-page .file-stats .card:nth-child(5) i{
    background-color: rgb(245 158 11 / 20%);
    color: var(--orange-color);
}
.files-page .file-stats .card .inf{
    flex:1;
}
.files-page .file-stats .card .inf p{
    margin: 0 0 5px 0;
}
.files-page .file-stats .card .inf span{
    color: var(--grey-color);
    font-size: 12px;
}
.files-page .file-stats .card span{
    color: var(--grey-color);
}
/* End files page */